@model IEnumerable<Clipping.WebApp.Models.NoticiaViewModel>

@{
    ViewData["Title"] = "Notícias";
}

<h1>Lista de Notícias</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Criar Notícia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayName("Tags")
            </th>
            <th>
                @Html.DisplayName("Usuário")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                    <td>
                        <ul>
                            @foreach (var tag in item.Tags)
                            {
                                <li>@tag.Descricao</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
