@model IEnumerable<Clipping.WebApp.Models.NoticiaViewModel>

@{
    ViewData["Title"] = "Notícias";
}

<h1>Lista de Notícias</h1>

<p>
    <a id="create" class="btn btn-primary">Criar Notícia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayName("Tags")
            </th>
            <th>
                @Html.DisplayName("Usuário")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                    <td>
                        <ul>
                            @foreach (var tag in item.Tags)
                            {
                                <li>@tag.Descricao</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    </td>
                    <td>
                        <a data-id="@item.Id" class="btn btn-info detalhes"><span class=" fa fa-search"></a>
                        <a data-id="@item.Id" class="btn btn-warning editar"><span class="fa fa-pencil-alt"></a>
                        <a data-id="@item.Id" class="btn btn-danger deletar"><span class="fa fa-trash"></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="modal" id="allModal" tabindex="-1"></div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            $(function () {
                $(".detalhes").click(function () {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: '/Noticias/Details/',
                        data: { id: id },
                        success: function (result) {
                            $('#allModal').html(result);
                            $('#allModal').modal('show');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erro na requisição Ajax:', textStatus, errorThrown);
                        }
                    });
                });

                $(".editar").click(function () {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: '/Noticias/Edit/',
                        data: { id: id },
                        success: function (result) {
                            $('#allModal').html(result);
                            $('#allModal').modal('show');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erro na requisição Ajax:', textStatus, errorThrown);
                        }
                    });
                });

                $(".deletar").click(function () {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: '/Noticias/Delete/',
                        data: { id: id },
                        success: function (result) {
                            $('#allModal').html(result);
                            $('#allModal').modal('show');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erro na requisição Ajax:', textStatus, errorThrown);
                        }
                    });
                });

                $('#create').click(function () {
                    $.ajax({
                        url: '/Noticias/Create',
                        success: function (result) {
                            $('#allModal').html(result);
                            $('#allModal').modal('show');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erro na requisição Ajax:', textStatus, errorThrown);
                        }
                    });
                });
            });
        });
    </script>
}
