@model IEnumerable<Clipping.WebApp.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Usuário";
}

<h1>Lista de Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <botao tipo-btn="Detalhes" route-id="@item.Id"></botao>
                    <botao tipo-btn="Editar" route-id="@item.Id"></botao>
                    <botao tipo-btn="Excluir" route-id="@item.Id"></botao>
                </td>
            </tr>
        }
    </tbody>
</table>
